binary:
  stage: build
  image:
    name: 'ubuntu:18.04'
    entrypoint: ['/bin/bash']
  before_script:
    - apt-get -q update
    - apt-get -y --no-install-recommends --allow-downgrades install gcc cmake ninja-build libc6-dev libsystemd-dev
  script:
    - mkdir build && cd build
    - cmake -GNinja .. && ninja
    - mv systemd-*udp*d ..
  artifacts:
    name: 'udp-proxy'
    expose_as: 'udp-proxy'
    paths: ['systemd-*udp*d']
    expire_in: 6 months
